<form action="script.php" enctype="multipart/form-data" method="post">
    <input type="hidden" name="MAX_FILE_SIZE" vale="30000"/>
    <input type="file" name="picture"/>
</form>

<!--
The above example represents the 3 necessary components for uploading a file in HTML. 
1. enctype = "multipart/form-data" <- Allows entire files to be submitted as form data
2. hidden input type with MAX_FILE_SIZE tells browser max file size for upload
3. input with type of file allows for file dialogue and upload
-->
