<html>
    <head>
        <title>{% block title_html }{% endblock %}</title>
    </head>
    <body>
        <h1> Tasks Manager - {% block h1 %}{% endblock %}</h1>
        <article>
            {% block article_content %}{% endblock %}
        </article>
    </body>
</html>

