{% extends "base.html" %}
{% block title_html %}Create Developer{% endblock %}
{% block h1%}Create Developer{% endblock %}
{% block article_content %}
    <form method="post" action="{% url "create_developer" %}">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" name="Create"/>
    </form>
{%endblock%}
