{%extends 'base.html'%}
{%block title_html%} Developer List{%endblock%}
{%block h1%}Developer List {%endblock%}

{%block article_content%}
    <table>
        <tr>
            <td>Name</td>
            <td>Login</td>
            <td>Supervisor</td>
        </tr>
        {% for dev in object_list %}
        <tr>
            <td><a href="">{{dev}}</a>
            <td>{{dev.user_auth.username}}</td>
            <td>{{dev.supervisor}}</td>
        </tr>
        {% endfor %}
    </table>
{%endblock%}
