<html>
    <head>
        <title>Hello, World</title>
    </head>
    <body>
        {% extends "base.html" %}
        {% block title_html %}
        {% endblock %}
        {% block h1 %}
            {{ bloc.super }} Hello World Django
        {% endblock %}
        {% block article_content %}
            <h1>Home</h1>
            <a href="{% url "create_developer" %}" >Create Developer</a><br/>
            <a href="{% url "create_supervisor" %}">Create Supervisor</a><br/>
            <a href="{% url "create_task" %}">Create Project</a><br/>
            <a href="{% url "task_detail" "1" %}">Detail first view</a><br/>
        {% endblock %}

    </body>
<html>
