
{% extends "base.html" %}

        {% block article_content %}

            <h3>{{ project.title }}</h3>

            <h4>Client : {{ project.client_name }} </h4>

            <p>
                {{ project.description }}
            </p>
        {% endblock %}

