{%extends 'base.html'%}

{%block article_content%}
    <h4>{{object.title}}</h4>
    <table>
        <tr>
            <td>Project : {{object.project}}</td>
            <td>Developer : {{object.app_user}}</td>
        </tr>
        <tr>
            <td>Importance : {{object.importance}}</td>
            <td>Time Elapsed : {{object.time_elapsed}}</td>
        </tr>
    </table>
    <p>{{object.description}}</p>
{%endblock%}
