
{% extends "base.html" %}
{% block title_html %}Create Project{% endblock %}
{% block h1%}Create Project{% endblock %}
{% block article_content %}
    <form method="post" action="">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" name="Create"/>
    </form>
{%endblock%}
